{% extends "myapp/index.html" %}
{% block content %}
    
    <!-- START OF PAGE BANNER -->
    <section class="inner-banner">
      <div class="container">
        <div class="row">
          <h1>OUR COMPANY</h1>
        </div>
      </div>
    </section>
    <!-- END OF PAGE BANNER -->
    
    <!-- BREADCRUMB STARTS HERE  -->
    <div class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- BREADCRUMB ENDS HERE  -->
    
    <!--------- Content Wrapper Starts ----------->
    
    <!--  Mission & Vision Section -->
    <section class="mission-vision">
      <div class="container">
        <div class="row welcome">
          <div class="col-lg-12">
            <h2>Welcome To HD Group</h2>
            <p>
              It doesn't matter what comes, fresh goes better in life, with Mentos
              fresh and full of Life! Nothing gets to you, stayin' fresh, stayin'
              cool, with Mentos fresh and full of life! Fresh goes better! Mentos
              freshness! Fresh goes better with Mentos, fresh and full of life!
              Mentos! The Freshmaker! It doesn't matter what comes, fresh goes
              better in life, with Mentos fresh and full of Life! Nothing gets to
              you, stayin' fresh, stayin' cool, with Mentos fresh and full of life!
              Fresh goes better! Mentos freshness! Fresh goes better with Mentos,
              fresh and full of life! Mentos! The Freshmaker! It doesn't matter what
              comes, fresh goes better in life, with Mentos fresh and full of Life!
              Nothing gets to you, stayin' fresh, stayin' cool, with Mentos fresh
              and full of life! Fresh goes better! Mentos freshness! Fresh goes
              better with Mentos, fresh and full of life! Mentos!
            </p>
          </div>
        </div>
    
        <div class="row mission">
          <div class="col-lg-6 col-md-6">
            <img
              src="https://cdn.asparksys.com/medias/1671431172870.png"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-6 col-md-6 d-flex justify-content-center flex-column">
            <h5 class="abt-heading">Company’s</h5>
            <h2>Mission</h2>
            <p>
              You don’t have to worry about the result because all of these
              interiors are made by people who are professionals in their fields
              with an elegant and lucurious style and with premium quality materials
              and lucurious style and with premium quality materials.
            </p>
          </div>
        </div>
    
        <div class="row flex-row-reverse pt-3">
          <div class="col-lg-6 col-md-6">
            <img
              class="img-fluid"
              src="https://cdn.asparksys.com/medias/1671431330466.png"
            />
          </div>
          <div class="col-lg-6 col-md-6 d-flex justify-content-center flex-column">
            <h5 class="abt-heading">Company’s</h5>
            <h2>Vision</h2>
            <p>
              You don’t have to worry about the result because all of these
              interiors are made by people who are professionals in their fields
              with an elegant and lucurious style and with premium quality materials
              these interiors are made by people who are professionals in their,
              these interiors are made by people who are professionals in their.
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Our Experts -->
    <section class="experts">
      <!-- Shapes-->
      <img
        src="https://cdn.asparksys.com/medias/1671007790784.svg"
        class="shapes"
      />
      <!-- Shapes -->
      <div class="container">
        <div class="row">
          <h5 class="abt-heading">OUR EXPERTS</h5>
          <h2>Meet our experienced team people</h2>
          <div class="our-experts">
            <!-- Block 1 -->
            <div class="col-lg-4 col-md-6 experts__block">
              <div class="card border-0 bg-transparent">
                <div class="images-border"></div>
                <img
                  src="https://cdn.asparksys.com/medias/1671007605678.svg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Executive Director</h5>
                  <p class="card-text">Pitambar Raj Lamichhane</p>
                </div>
              </div>
            </div>
    
            <!-- Block 2 -->
            <div class="col-lg-4 col-md-6 experts__block">
              <div class="card border-0 bg-transparent">
                <div class="images-border"></div>
                <img
                  src="https://cdn.asparksys.com/medias/1671008367055.svg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Executive Director</h5>
                  <p class="card-text">Pitambar Raj Lamichhane</p>
                </div>
              </div>
            </div>
    
            <!-- Block 3 -->
            <div class="col-lg-4 col-md-6 experts__block">
              <div class="card border-0 bg-transparent">
                <div class="images-border"></div>
                <img
                  src="https://cdn.asparksys.com/medias/1671008383205.svg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Executive Director</h5>
                  <p class="card-text">Pitambar Raj Lamichhane</p>
                </div>
              </div>
            </div>
    
            <!-- Block 4 -->
            <div class="col-lg-4 experts__block">
              <div class="card border-0 bg-transparent">
                <div class="images-border"></div>
                <img
                  src="https://cdn.asparksys.com/medias/1671008383205.svg"
                  class="card-img-top img-fluid"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Executive Director</h5>
                  <p class="card-text">Pitambar Raj Lamichhane</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Testimonials -->
    <section class="about-testimonails">
      <div class="container">
        <div class="row">
          <h5 class="abt-heading">Testimonials</h5>
          <h2>What Our Clients Say About Us</h2>
          <div class="testimonials-slider">
            <!-- Block 1 -->
            <div class="testimonials-slider__block">
              <div class="user-info d-flex">
                <div class="p-3">
                  <img src="https://cdn.asparksys.com/medias/1670932327536.svg" />
                </div>
                <div class="d-flex justify-content-center flex-column">
                  <p class="user-name">Ramesh Shrestha</p>
                  <p>CFO, Sajilo Foods</p>
                </div>
              </div>
              <p class="user-text">
                Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Cursus
                nibh mauris, nec turpis orci lectus maecenas. Suspendisse sed magna
                eget nibh in turpis. Consequat duis diam lacus arcu. Faucibus
                venenatis felis id augue sit cursus pellentesque enim
              </p>
            </div>
            <!-- Block 2 -->
            <div class="testimonials-slider__block">
              <div class="user-info d-flex">
                <div class="p-3">
                  <img src="https://cdn.asparksys.com/medias/1670932358943.svg" />
                </div>
                <div class="d-flex justify-content-center flex-column">
                  <p class="user-name">Shreya Shrestha</p>
                  <p>CMO, Barhasinghe Brewery</p>
                </div>
              </div>
              <p class="user-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh
                mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget
                nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis
                felis id augue sit cursus pellentesque enim
              </p>
            </div>
            <!-- Block 3 -->
            <div class="testimonials-slider__block">
              <div class="user-info d-flex">
                <div class="p-2">
                  <img src="https://cdn.asparksys.com/medias/1670932327536.svg" />
                </div>
                <div class="d-flex justify-content-center flex-column">
                  <p class="user-name">Ramesh Shrestha</p>
                  <p>CFO, Sajilo Foods</p>
                </div>
              </div>
              <p class="user-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cursus nibh
                mauris, nec turpis orci lectus maecenas. Suspendisse sed magna eget
                nibh in turpis. Consequat duis diam lacus arcu. Faucibus venenatis
                felis id augue sit cursus pellentesque enim
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!--  PORTFOLIO SECTION STARTS HERE  -->
    <section class="portfolio">
      <div class="container">
        <div class="row">
          <h5 class="abt-heading">Portfolio</h5>
          <h2>Our Gallery Of Achievements</h2>
          <div class="portfolio__img-container">
            <div class="portfolio-pic__row row">
              <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="content">
                  <img
                    src="https://cdn.asparksys.com/medias/1671011787398.svg"
                    class="img-fluid portfolio__img"
                    alt="card-img"
                  />
                  <!--  Overlay Section Started  -->
                  <div class="content-overlay"></div>
                  <div
                    class="content-details content-details2 fadeIn-bottom fadeIn-right"
                  >
                    <p class="text-start fw-normal content-overlay-text">
                      MoU Signing with US Embassay, Kathmandu, Nepal
                    </p>
    
                    <!--  Overlay Section Ended  -->
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="content">
                  <img
                    src="https://cdn.asparksys.com/medias/1671011870262.svg"
                    class="img-fluid portfolio__img"
                    alt="card-img"
                  />
                  <!--  Overlay Section Started  -->
                  <div class="content-overlay"></div>
                  <div
                    class="content-details content-details2 fadeIn-bottom fadeIn-right"
                  >
                    <p class="text-start fw-normal content-overlay-text">
                      MoU Signing with US Embassay, Kathmandu, Nepal
                    </p>
    
                    <!--  Overlay Section Ended  -->
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="content">
                  <img
                    src="https://cdn.asparksys.com/medias/1671012009528.svg"
                    class="img-fluid portfolio__img"
                    alt="card-img"
                  />
                  <!--  Overlay Section Started  -->
                  <div class="content-overlay"></div>
                  <div
                    class="content-details content-details2 fadeIn-bottom fadeIn-right"
                  >
                    <p class="text-start fw-normal content-overlay-text">
                      MoU Signing with US Embassay, Kathmandu, Nepal
                    </p>
    
                    <!--  Overlay Section Ended  -->
                  </div>
                </div>
              </div>
            </div>
    
            <div class="portfolio-pic__row row">
              <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="content h-100">
                  <img
                    src="https://picsum.photos/id/567/395/270"
                    class="img-fluid portfolio__img"
                    alt="card-img"
                  />
                  <!--  Overlay Section Started  -->
                  <div class="content-overlay"></div>
                  <div
                    class="content-details content-details2 fadeIn-bottom fadeIn-right"
                  >
                    <p class="text-start fw-normal content-overlay-text">
                      MoU Signing with US Embassay, Kathmandu, Nepal
                    </p>
    
                    <!--  Overlay Section Ended  -->
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-4">
                <div class="content h-100">
                  <img
                    src="https://cdn.asparksys.com/medias/1671012067107.svg"
                    class="portfolio__img portfolio__img--big"
                    alt="card-img"
                  />
                  <!--  Overlay Section Started  -->
                  <div class="content-overlay"></div>
                  <div
                    class="content-details content-details2 fadeIn-bottom fadeIn-right"
                  >
                    <p class="text-start fw-normal content-overlay-text">
                      MoU Signing with US Embassay, Kathmandu, Nepal
                    </p>
    
                    <!--  Overlay Section Ended  -->
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-4">
                <div class="content h-100">
                  <img
                    src="https://cdn.asparksys.com/medias/1671012106123.svg"
                    class="img-fluid portfolio__img"
                    alt="card-img"
                  />
                  <!--  Overlay Section Started  -->
                  <div class="content-overlay"></div>
                  <div
                    class="content-details content-details2 fadeIn-bottom fadeIn-right"
                  >
                    <p class="text-start fw-normal content-overlay-text">
                      MoU Signing with US Embassay, Kathmandu, Nepal
                    </p>
    
                    <!--  Overlay Section Ended  -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--  PORTFOLIO SECTION STARTS END  -->
    
    <!--------- Content Wrapper Ends ------------->
    
    {% endblock %}
    